body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(to right, #141e30, #243b55);
  color: white;
}

.container {
  padding: 30px;
  text-align: center;
}

.title {
  font-size: 2.5rem;
}

.search-container {
  margin-bottom: 30px;
}

.search-box {
  padding: 10px;
  width: 250px;
  border-radius: 8px;
  border: none;
}

.search-btn {
  padding: 10px 18px;
  border-radius: 25px;
  background: linear-gradient(45deg, #ff9800, #ff5722);
  color: white;
  cursor: pointer;
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.movie-card {
  width: 200px;
  border-radius: 10px;
  background: #1e2a38;
  transition: 0.3s;
}

.movie-card:hover {
  transform: scale(1.08);
}

.movie-card img {
  width: 100%;
  height: 300px;
}

.fav-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.details-container {
  max-width: 600px;
  margin: auto;
}

.back-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.back-btn {
  padding: 8px 14px;
  border: none;
  border-radius: 8px;
  background: #ff9800;
  color: white;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.back-btn {
  background: transparent;
  border: 1px solid #ff9800;
  color: #ff9800;
}

.back-btn:hover {
  background: #ff9800;
  color: white;
}

.spinner {
  border: 5px solid #ccc;
  border-top: 5px solid orange;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 20px auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}